# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и данные
logs/
*.log
data/
telegram_sessions/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Другие
.DS_Store
.env
.env.* 